<div class="card">
  <div class="card-body row">
    <label class="card-text col-sm-2">Number:</label>
    <label class="card-text col-sm-10">Order #{{order.id}}</label>
    <label class="card-text col-sm-2">Date:</label>
    <label class="card-text col-sm-10">{{order.dateTime | date:'dd.MM.yyyy HH:mm'}}</label>
    <label class="card-text col-sm-2">Status:</label>
    <div class="card-text col-sm-10">
      <div class="orderStatusBox" [ngClass]="order.status | orderStatusStyle"></div>
      <label>{{order.status | orderStatusText}}</label>
    </div>
    <label class="card-text col-sm-2">Total:</label>
    <label class="card-text col-sm-10">{{orderTotalCost}}</label>
  </div>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="text-center">Product name</th>
      <th class="text-center">Qty</th>
      <th class="text-center">Price</th>
      <th class="text-center">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of orderEntries">
      <th>{{entry.productName}}</th>
      <td>{{entry.quantity}}</td>
      <td>{{entry.price}}</td>
      <td>{{entry.quantity * entry.price}}</td>
    </tr>
    <tr>
      <th>Total:</th>
      <th>{{orderTotalQuantity}}</th>
      <th></th>
      <th>{{orderTotalCost}}</th>
    </tr>
  </tbody>
</table>
